@import "../variables.scss";

.recommendation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid $color-border;

  .recommendation__userImg {
    width: 48px;
    height: 48px;
  }
  .recommendation__userInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 12px;
    .recommendation__userInfo__userName {
      font-weight: 800;
    }
    .recommendation__userInfo__userId {
      color: $color-id;
    }
  }
  .recommendation__btn {
    color: $color-main;
  }
}
.no-recommendation {
  padding: 15px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.hover--bg--light {
  transition: 0.3s background-color ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #f6f9f9;
  }
}

.hover--bg--deep {
  transition: 0.3s background-color ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #eef1f1;
  }
}
