@import "../variables.scss";

/*✅ profile*/

.explore__container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;

  .explore__title {
    width: inherit;
    z-index: 2;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    display: flex;
    margin-bottom: 12px;
    min-height: 32px;
    height: 53px;
    align-items: center;
    flex-direction: row;
    pointer-events: auto;
    flex-grow: 1;

    .explore__title__container {
      padding: 0 16px;
      display: flex;
      align-items: center;
      font-size: 10px;
      height: 53px;
      font-size: 15px;
      width: 100%;
      position: relative;
    }
  }
  .explore__main {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    .explore__main__box {
      .explore__main__box__title {
        padding: 12px 16px;
        .explore__main__box__title__title {
          font-size: 20px;
          font-weight: 800;
        }
      }
    }
  }
}

//explore List
.exploreList {
  height: 100%;
  display: flex;
  flex-direction: column;
  .explore {
    display: flex;
    padding: 12px 16px;
    min-height: 80px;
    max-height: 108px;
    max-width: 600px;
    min-width: 100%;
    box-sizing: border-box;
    .explore__userImg {
      width: 48px;
      height: 48px;
      margin-right: 12px;
    }
    .explore__userInfo {
      font-size: 15px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      .explore__userInfo__userName {
        font-weight: 800;
      }
      .explore__userInfo__userId {
        color: $color-id;
      }
      .explore__userInfo__userBio {
      }
    }
  }

  .explore--nothing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    max-width: 600px;
    color: $color-main;
    .explore--nothing__info {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      color: $color-text;
      .explore--nothing__info__userName {
        color: $color-main;
      }
    }
  }
}
