@import "../variables.scss";

/*✅ nav*/
.header {
  z-index: 3;
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;

  .header__container {
    width: 88px;
    position: relative;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    .header__container__container {
      height: 100%;
      top: 0;
      position: fixed;
      .nav {
        width: 88px;
        // overflow-y: auto;
        height: 100%;
        position: relative;
        padding: 0 12px 20px 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        flex-basis: auto;
        flex-direction: column;
        .nav__ul {
          .nav__ul__li {
            width: 50px;
            .nav__ul__li__btn {
              width: 50px;
              height: 50px;
              display: flex;
              align-items: stretch;
              justify-content: center;
              margin: 4px 0;
            }
          }
          .logo-color {
            color: $color-main;
          }
        }
        .nav__user {
          display: flex;
          flex-direction: column;
          align-items: center;
          .nav__user__userImg {
            width: 64px;
            height: 64px;
            padding: 12px;
            .nav__user__userImg_img {
              width: 40px;
              height: 40px;
              border-radius: 25px;
            }
          }
        }
      }
    }
  }
}
