/*reset css*/
@import "./normalize.scss";
@import "./reset.scss";

$color-main: #1c9bef;
$color-text: #0f141a;
$color-border: #eff3f4;

.color-main {
  color: $color-main;
}
/*Btns*/
.btn {
  border: 1px solid #dcdfe2;
  border-radius: 25px;
  height: 40px;
  padding: 0 16px;
  font-weight: 500;
}
.btn--border-zero {
  border: 0;
}

.btn--grey {
  background-color: #ffffff;
  color: #3c4043;
}
.btn--grey:hover,
.btn--grey:focus {
  background-color: #e6e6e6;
  transition: 0.3s;
}

.btn--blue {
  background-color: $color-main;
  color: white;
  font-weight: 800;
}
.btn--blue:hover,
.btn--blue:focus {
  background-color: #188cd8;
  transition: 0.3s;
}

.btn--skyblue {
  font-weight: 800;
  color: $color-main;
}
.btn--skyblue:hover,
.btn--skyblue:focus {
  background-color: #ebf5fe;
  transition: 0.3s;
}

.btn--min--circle {
  width: 35px;
  height: 35px;
  border-radius: 25px;
  color: #b0b6be;
}
.btn--min--circle:hover {
  background-color: #ffeaf2;
  color: #f9197f;
  transition: 0.3s;
}
.btn--min--circle:active {
  background-color: #ffd0e2;
  color: #f9197f;
  transition: 0.3s;
}

.icon {
  color: $color-main;
}

.tab-on {
  width: 100%;
  height: 4px;
  background-color: #188cd8;
}
.tab-off {
  display: none;
}

* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*footer 정렬*/
#body-wrapper {
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}

#body-content {
  padding-bottom: 14px;
}

footer {
  width: 100%;
  height: 14px;
  position: relative;
  transform: translateY(-100%);
  text-align: center;
}

/*loading__container*/
.loading__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Auth */
.auth__container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 52px;
  .auth__title__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .auth__title {
      font-weight: 700;
      font-size: 60px;
      margin: 48px 0;
    }
    .auth__subtitle {
      font-weight: 700;
      font-size: 30px;
      margin: 0 0 32px;
    }
  }

  .auth__btns {
    display: flex;
    flex-direction: column;
    button {
      width: 300px;
      margin-bottom: 15px;
    }
    .auth__btn {
      background-color: transparent;
      border: 1px solid #dcdfe2;
      border-radius: 25px;
      height: 40px;
      padding: 0 16px;
    }
    .line__box {
      max-width: 300px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .line {
        width: 130px;
        height: 1px;
        box-sizing: border-box;
        background-color: $color-border;
      }
    }
    .auth-form {
      display: flex;
      flex-direction: column;
      input {
        font-weight: 500;
        width: 300px;
        margin-bottom: 15px;
        border-radius: 5px;
        cursor: auto;
      }
      input:focus {
        background-color: #ebf5fe;
        transition: 0.3s;
      }
    }
    .auth__h3 {
      margin: 15px 0;
    }
  }
}

/*file input hidden*/
.hidden {
  display: none;
}

/*home*/
.home__container {
  padding: 0;
  .home__tile {
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    padding: 0 16px;
    /*엥 이거 왜 두배 되는거지?*/
    font-size: 10px;
    position: sticky;
    position: -webkit-sticky;
    height: 53px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
  }
  /*트윗 팩토리*/
  .home__tweetSender {
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    border-top: 0;
    padding: 0 16px;
    display: grid;
    grid-template-columns: 1fr 8fr;
    .home__tweetSender__userImg {
      margin: 0 12px 0 0;
      padding: 4px 0 0;
      .home__tweetSender__userImg__img {
        height: 48px;
        width: 48px;
        background-color: $color-main;
        border-radius: 25px;
      }
    }
    .home__tweetSender__writeBox {
      max-width: 502px;
      .home__tweetSender__writeBox__text {
        padding: 12px 0;
        font-size: 20px;
        input {
          overflow: auto;
          width: 100%;
        }
      }
      .home__tweetSender__writeBox__btn {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
        label {
          cursor: pointer;
        }
        input {
          cursor: pointer;
        }
        .home__tweetSender__writeBox__btn__submit {
          input:disabled {
            background-color: #9acdf8;
            cursor: auto;
          }
        }
      }
    }
  }
}

.profile__container {
  .profile__title {
    z-index: 3;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    padding: 0 16px;
    /*엥 이거 왜 두배 되는거지?*/
    font-size: 10px;
    position: sticky;
    position: -webkit-sticky;
    height: 53px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
  }
  .profile__main-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    .profile__user {
      border-left: 1px solid $color-border;
      border-right: 1px solid $color-border;
      .profile__user__header {
        width: 598px;
        height: 200px;
        background-color: grey;
      }
      .profile__user__info {
        padding: 12px 16px 0;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        color: $color-text;
        .profile__user__btns {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          position: relative;
          height: 80px;
          .profile__user__userImg {
            position: relative;
            .profile__user__userImg__file {
              width: 140px;
              height: 140px;
              border-radius: 100px;
              position: absolute;
              top: -82px;
              background-color: red;
            }
          }
        }
        .profile__user__info__userName {
          margin-bottom: 12px;
          display: flex;
          flex-direction: column;
          .profile__user__info__userName__name {
            font-size: 20px;
            font-weight: 800;
            color: black;
          }
          .profile__user__info__userName__id {
            font-size: 15px;
            color: #536471;
          }
        }
        .profile__user__info__userInfo {
          margin-bottom: 12px;
          font-size: 15px;
        }
        .profile__user__info__userMeta {
          margin-bottom: 12px;
          display: flex;
          flex-direction: row;
          align-items: stretch;
          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

/*Tweet List Component: Home & Profile*/
.tweetList {
  border-left: 1px solid $color-border;
  border-right: 1px solid $color-border;
  .tweetList__tweets {
    padding: 12px 16px;
    border-bottom: 1px solid $color-border;
    display: grid;
    grid-template-columns: 1fr 8fr;
    .userImg {
      margin: 0 12px 0 0;
      padding: 4px 0 0;
      .userImg_img {
        height: 48px;
        width: 48px;
        background-color: $color-main;
        border-radius: 25px;
      }
    }
    .tweetList__tweets__tweet {
      display: flex;
      flex-direction: column;
      .tweetList__tweets__tweet__info {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        span {
          padding-right: 5px;
        }
        .tweetList__tweets__tweet__info__userName {
          font-weight: 700;
          color: $color-text;
        }
      }
      .tweetList__tweets__tweet__content {
        .tweetList__tweets__tweet__content__text {
          padding-top: 10px;
          font-size: 15px;
          color: $color-text;
        }
        .tweetList__tweets__tweet__content__img {
          padding-top: 20px;
        }
        .tweetList__tweets__tweet__content__btn {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          font-size: 15px;
          margin-top: 12px;
          margin-left: -10px;
        }
      }
    }
  }
  .tweetList__tweets:hover {
    background-color: #f7f7f7;
    transition: 0.3s;
  }
}

/*nav*/
.header {
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  .header__container {
    width: 88px;
    position: relative;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    .nav {
      width: 88px;
      overflow-y: auto;
      height: 100%;
      position: fixed;
      padding: 0 12px 20px 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      flex-basis: auto;
      flex-direction: column;
      .nav__ul {
        .nav__ul__li {
          width: 50px;
          .nav__ul__li__btn {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: stretch;
            justify-content: center;
            margin: 4px 0;
          }
        }
      }
      .nav__user {
        display: flex;
        flex-direction: column;
        align-items: center;
        .nav__user__userImg {
          width: 64px;
          height: 64px;
          padding: 12px;
          .nav__user__userImg_img {
            background-color: $color-main;
            width: 40px;
            height: 40px;
            border-radius: 25px;
          }
        }
      }
    }
  }
}

.nav__btn {
  width: 50px;
  height: 50px;
  padding: 12px;
}
.nav__btn--circle {
  border-radius: 25px;
}

.nav__btn--circle:hover {
  background-color: #e7e7e8;
  transition: 0.3s;
}

/*tab nav*/
.tab-nav {
  box-sizing: border-box;
  display: block;
  .tab-nav__box {
    .tab-nav__list {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      .tab-nav__list__presentation {
        align-items: stretch;
        padding: 14px 0;
        .tab-nav__list__presentation__name {
          span {
            padding: 0 14px;
          }
        }
      }
    }
  }
}

.nav-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: auto;
  box-sizing: border-box;
  font-size: 15px;

  .nav-tab__div {
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;

    .nav-tab__div__div {
      flex-shrink: 1;
      height: 100%;
      flex-grow: 1;
      display: block;
      flex-direction: column;
      align-items: stretch;
      flex-basis: auto;

      .nav-tab__list {
        flex-shrink: 1;
        height: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-basis: auto;

        .nav-tab__list__presentation {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          flex-basis: auto;

          .nav-tab__list__presentation__a {
            padding: 0 16px;
            min-width: 56px;
            height: 53px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            flex-basis: auto;
            flex-shrink: 0;

            text-align: inherit;
            cursor: pointer;

            .nav-tab__list__presentation__a__text-box {
              padding: 16px 0;
              font-weight: 500;
              overflow-wrap: break-word;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              height: 100%;
              position: relative;
              .nav-tab__list__presentation__a__text-box__name {
                overflow-wrap: break-word;
              }
              .nav-tab__list__presentation__a__text-box__line {
                display: inline-flex;
                align-items: stretch;
                flex-basis: auto;
                flex-direction: column;
                flex-shrink: 0;
                position: absolute;
                bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
