/*reset css*/
@import "./normalize.scss";
@import "./reset.scss";

/*✅ Colors*/
$color-main: #1c9bef;
$color-text: #0f141a;
$color-border: #eff3f4;
$color-id: #536471;

.color-main {
  color: $color-main;
}

/*✅ Btns*/

.btn {
  border: 1px solid #dcdfe2;
  border-radius: 25px;
  height: 40px;
  padding: 0 16px;
  font-weight: 500;
  box-sizing: border-box;
}
.btn--border-zero {
  border: 0;
}

.btn--grey {
  background-color: #ffffff;
  color: #3c4043;
}
.btn--grey:hover,
.btn--grey:focus {
  background-color: #e6e6e6;
  transition: 0.3s;
}

.btn--blue {
  background-color: $color-main;
  color: rgb(255, 255, 255);
  font-weight: 800;
}
.btn--blue:hover,
.btn--blue:focus {
  background-color: #188cd8;
  transition: 0.3s;
}

.btn--skyblue {
  font-weight: 800;
  color: $color-main;
}
.btn--skyblue:hover,
.btn--skyblue:focus {
  background-color: #ebf5fe;
  transition: 0.3s;
}

.nav__btn {
  width: 50px;
  height: 50px;
  padding: 12px;
}

.btn--circle {
  border-radius: 50px;
}

.btn--circle:hover {
  background-color: #e7e7e8;
  transition: 0.3s;
}

.btn--circle:focus {
  background-color: #e7e7e8;
  transition: 0.3s;
}

.btn--min {
  width: 34px;
  height: 34px;
}

.btn--min--circle {
  width: 35px;
  height: 35px;
  border-radius: 25px;
  color: #b0b6be;
}
.btn--min--circle:hover {
  background-color: #ffeaf2;
  color: #f9197f;
  transition: 0.3s;
}
.btn--min--circle:active {
  background-color: #ffd0e2;
  color: #f9197f;
  transition: 0.3s;
}

.follow-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 800;
  min-height: 32px;
  min-width: 32px;
  padding: 0 16px;
  border-radius: 25px;
  cursor: point;
  pointer-events: auto;
}

.follow-btn--black {
  color: white;
  background-color: rgb(15, 20, 25);
  border: 1px solid rgba(0, 0, 0, 0);
}

.follow-btn--white {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(207, 217, 222);
}

.follow-btn--red {
  color: #f4212d;
  background-color: #fdc9ce;
  border: 1px solid #ff9ea8;
}

.icon {
  color: $color-main;
}

.cursor--pointer {
  cursor: pointer;
}

/*file input hidden*/
.hidden {
  display: none;
}

/*✅ global*/
* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main {
  //width: 990px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 1;
  flex-grow: 1;
  @media (max-width: 920px) {
    .mobile {
      display: none;
    }
  }
  @media (min-width: 990px) {
    .mobile {
      display: flex;
    }
  }
}

/*✅ footer 정렬*/
#body-wrapper {
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}

#body-content {
  padding-bottom: 14px;
  max-width: 600px;
  border-left: 1px solid $color-border;
  border-right: 1px solid $color-border;
}

footer {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 13px;
  color: $color-id;
  width: 100%;
  height: 14px;
  position: relative;
  transform: translateY(-100%);
  //text-align: center;
}

/*✅ loading__container*/
.loading__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* ✅ Auth */
#loginPage {
  width: 100vw;
  height: 100vh;
  position: relative;
  #loginPage__container {
    display: flex;
    flex-direction: row;
    //
    height: auto;
    min-height: 100%;
    padding-bottom: 25px;
    .loginPage__img {
      width: 50vw;
      object-fit: cover;
    }
    @media (max-width: 880px) {
      .loginPage__img {
        display: none;
      }
    }
    @media (min-width: 990px) {
      .loginPage__img {
        display: flex;
      }
    }
  }
  .loginPage__footer {
    font-size: 12px;
    margin: 0;
    //
    height: 25px;
    position: relative;
    transform: translateY(-100%);
    //
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .loginPage__footer__box {
      margin: 0 3px;
      .loginPage__footer__box__icon {
        margin-right: 3px;
      }
    }
  }
}

.auth__container {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  margin: 0 52px;
  .auth__title__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .auth__title {
      font-weight: 700;
      font-size: 50px;
      margin: 40px 0;
    }
    .auth__subtitle {
      font-weight: 700;
      font-size: 25px;
      margin: 0 0 32px;
    }
  }

  .auth__btns {
    display: flex;
    flex-direction: column;
    button {
      width: 300px;
      margin-bottom: 15px;
    }
    .auth__btn {
      background-color: transparent;
      border: 1px solid #dcdfe2;
      border-radius: 25px;
      height: 40px;
      padding: 0 16px;
    }
    .line__box {
      max-width: 300px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .line {
        width: 130px;
        height: 1px;
        box-sizing: border-box;
        background-color: $color-border;
      }
    }
    .auth-form {
      display: flex;
      flex-direction: column;
      input {
        font-weight: 500;
        width: 300px;
        margin-bottom: 15px;
        border-radius: 5px;
        cursor: auto;
      }
      input:focus {
        background-color: #ebf5fe;
        transition: 0.3s;
      }
    }
    .auth__h3 {
      margin: 15px 0;
    }
  }
}

/*✅ nav*/
.header {
  z-index: 3;
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;

  .header__container {
    width: 88px;
    position: relative;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    .header__container__container {
      height: 100%;
      top: 0;
      position: fixed;
      .nav {
        width: 88px;
        // overflow-y: auto;
        height: 100%;
        position: relative;
        padding: 0 12px 20px 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        flex-basis: auto;
        flex-direction: column;
        .nav__ul {
          .nav__ul__li {
            width: 50px;
            .nav__ul__li__btn {
              width: 50px;
              height: 50px;
              display: flex;
              align-items: stretch;
              justify-content: center;
              margin: 4px 0;
            }
          }
        }
        .nav__user {
          display: flex;
          flex-direction: column;
          align-items: center;
          .nav__user__userImg {
            width: 64px;
            height: 64px;
            padding: 12px;
            .nav__user__userImg_img {
              width: 40px;
              height: 40px;
              border-radius: 25px;
            }
          }
        }
      }
    }
  }
}

//💬 Log Out Modal Component
.modal-layout {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 68vh;
  display: flex;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  pointer-events: none;
  .modal-logout {
    position: fixed;
    top: 68vh;
    .modal-logout-content-1 {
      width: 300px;
      padding: 12px 0;
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
      font-size: 15px;
      .modal-logout-header {
        padding: 12px 16px;
        border-bottom: 1px solid $color-border;
        .modal-logout-header__container {
          display: flex;
          flex-direction: row;
          align-items: center;
          .modal-logout-header__container__userImg {
            width: 48px;
            height: 48px;
            border-radius: 25px;
            background-color: rgb(255, 255, 255);
          }
          .modal-logout-header__container__userInfo {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 0 12px;
            .modal-logout-header__container__userInfo__userName {
              font-weight: 800;
            }
            .modal-logout-header__container__userInfo__userId {
              color: $color-id;
            }
          }
          .modal-logout-header__container__userInfo__check {
            color: $color-main;
          }
        }
      }
      .modal-logout-body {
        padding: 16px;
        cursor: pointer;
        transition: 0.3s background-color ease-in-out;
      }
      .modal-logout-body:hover {
        background-color: #f6f9f9;
      }
    }
    .modal-logout-content-2 {
      position: absolute;
      left: 12%;
      border-top: 10px solid rgb(255, 255, 255);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
  }
}
.modal-layout.show {
  opacity: 1;
  pointer-events: visible;
}

/*✅ home*/
.home__container {
  padding: 0;
  .home__tile {
    z-index: 2;
    padding: 0 16px;
    /*엥 이거 왜 두배 되는거지?*/
    font-size: 10px;
    position: sticky;
    position: -webkit-sticky;
    height: 53px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
  }
  .home__main-container {
    max-width: 600px;
    width: 100%;
    .home__main-container__write {
      border-bottom: 1px solid $color-border;
    }
  }
}

//TweetFactory
/*트윗 팩토리*/
.tweetSender {
  border-top: 0;
  padding: 0 16px;
  display: grid;
  grid-template-columns: 1fr 8fr;
  .tweetSender__userImg {
    margin: 0 12px 0 0;
    padding: 4px 0 0;
    .tweetSender__userImg__img {
      height: 48px;
      width: 48px;
      background-color: $color-main;
      border-radius: 25px;
    }
  }
  .tweetSender__writeBox {
    max-width: 502px;
    .tweetSender__writeBox__text {
      padding: 12px 0;
      font-size: 20px;
      .tweetSender__writeBox__text__textarea {
        cursor: text;
        line-height: 24px;
        pointer-events: auto;
        width: 100%;
        display: block;
        resize: none;
        overflow-y: hidden;
        min-height: 52px;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        height: auto;
        &::placeholder {
          font-size: inherit;
        }
      }
      .tweetImg--edit {
        border-radius: 15px;
      }
      .preview {
        position: relative;
        .previewImg {
          border-radius: 15px;
        }
        .preview--remove {
          margin: 10px;
          position: absolute;
          top: 0;
          width: 25px;
          height: 25px;
          background-color: rgba(0, 0, 0, 0.7);
          color: rgba(255, 255, 255, 0.7);
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .preview--remove:hover {
          background-color: rgba(255, 255, 255, 0.5);
          color: black;
          transition: 0.3s;
        }
      }
    }
    .tweetSender__writeBox__btn {
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 12px;
      border-top: 1px solid $color-border;
      label {
        cursor: pointer;
      }
      input {
        cursor: pointer;
      }
      .tweetSender__writeBox__btn__submit {
        input:disabled {
          background-color: #9acdf8;
          cursor: auto;
        }
      }
      .tweetSender__writeBox__btn__editBox {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .tweetSender__writeBox__btn__editBox__delete {
          margin-right: 10px;
        }
      }
    }
  }
}

.tweetSender--edit {
  padding-top: 10px;
  border-bottom: 1px solid $color-border;
}

/*✅ profile*/

.profile__container {
  display: flex;
  flex-direction: column;
  .profile__title {
    z-index: 2;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    .profile__title__container {
      padding: 0 16px;
      display: flex;
      align-items: center;
      font-size: 10px;
      height: 53px;
      .profile__title__user {
        margin-left: 20px;
      }
      .profile__title__username {
      }
      .profile__title__userId {
        font-weight: 500;
        font-size: 13px;
        color: $color-id;
      }
    }
  }
  .profile__main-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    .profile__user {
      .profile__user__header {
        width: 598px;
        height: 200px;
        background-color: grey;
      }
      .profile__user__info {
        padding: 12px 16px 0;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        color: $color-text;
        .profile__user__btns {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          position: relative;
          height: 80px;
          .profile__user__userImg {
            position: relative;
            .userImg--lg {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 141.5px;
              height: 141.5px;
              top: -82px;
              border: 4px solid rgb(255, 255, 255);
              border-radius: 50%;
              .profile__user__userImg__file {
                position: relative;
                width: 133.5px;
                height: 133.5px;
                border-radius: 50%;
                //object-fit
              }
            }
          }
        }
        .profile__user__info__userName {
          margin-bottom: 12px;
          display: flex;
          flex-direction: column;
          .profile__user__info__userName__name {
            font-size: 20px;
            font-weight: 800;
            color: black;
          }
          .profile__user__info__userName__id {
            font-size: 15px;
            color: $color-id;
          }
        }
        .profile__user__info__userInfo {
          margin-bottom: 12px;
          font-size: 15px;
          display: flex;
          flex-direction: column;
          .profile__user__info__userInfo__bio {
            margin-bottom: 12px;
          }
          .profile__user__info__userInfo__createdAt {
            color: $color-id;
          }
        }
        .profile__user__info__userMeta {
          margin-bottom: 12px;
          display: flex;
          flex-direction: row;
          align-items: stretch;
          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

/*💬 Tweet List Component: Home & Profile*/
.tweetList {
  .noTweet {
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 1px solid $color-border;
    color: $color-id;
  }
  .tweetList__tweets {
    padding: 12px 16px;
    border-bottom: 1px solid $color-border;
    display: grid;
    grid-template-columns: 1fr 8fr;
    .userImg {
      margin: 0 12px 0 0;
      padding: 4px 0 0;
      .userImg_img {
        height: 48px;
        width: 48px;
        background-color: $color-main;
        border-radius: 25px;
      }
    }
    .tweetList__tweets__tweet {
      display: flex;
      flex-direction: column;
      .tweetList__tweets__tweet__info {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        span {
          padding-right: 5px;
        }
        .tweetList__tweets__tweet__info__userName {
          font-weight: 700;
          color: $color-text;
        }
      }
      .tweetList__tweets__tweet__content {
        display: flex;
        flex-direction: column;
        .tweetList__tweets__tweet__content__text {
          box-sizing: border-box;
          padding-top: 10px;
          font-size: 15px;
          color: $color-text;
          width: 100%;
          overflow-wrap: break-word;
          white-space: pre-wrap;
          word-break: break-word;
          word-wrap: break-word;
          line-height: 20px;
        }
        .tweetList__tweets__tweet__content__img {
          padding-top: 20px;
          .tweetImg {
            border-radius: 15px;
          }
        }
        .tweetList__tweets__tweet__content__btns {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          font-size: 15px;
          margin-top: 12px;
          margin-left: -10px;
          span {
            padding: 0 12px;
          }
        }
      }
    }
  }
  .tweetList__tweets:hover {
    background-color: #f7f7f7;
    transition: 0.3s;
  }
  .clicked-heart {
    color: #f9197f;
  }
}

/*💬 tab nav*/
.nav-tab {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: auto;
  box-sizing: border-box;
  font-size: 15px;

  .nav-tab__div {
    border-bottom: 1px solid $color-border;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;

    .nav-tab__div__div {
      flex-shrink: 1;
      height: 100%;
      flex-grow: 1;
      display: block;
      flex-direction: column;
      align-items: stretch;
      flex-basis: auto;

      .nav-tab__list {
        flex-shrink: 1;
        height: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-basis: auto;

        .nav-tab__list__presentation {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          flex-basis: auto;

          .nav-tab__list__presentation__a {
            padding: 0 16px;
            min-width: 56px;
            height: 53px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            flex-basis: auto;
            flex-shrink: 0;

            text-align: inherit;
            cursor: pointer;

            .nav-tab__list__presentation__a__text-box {
              padding: 16px 0;
              font-weight: 500;
              overflow-wrap: break-word;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              height: 100%;
              position: relative;
              .nav-tab__list__presentation__a__text-box__name {
                overflow-wrap: break-word;
              }
            }
          }
          // .nav-tab__list__presentation__a:hover {
          //   background-color: #e7e7e8;
          //   transition: 0.3s;
          // }
        }
      }
    }
  }

  .tab-on {
    box-sizing: border-box;
    border-bottom: 4px solid #188cd8;
  }
}

/*💬  Modal*/
.modal {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  pointer-events: none;
  .modal-content {
    width: 598px;
    height: auto;
    //height: 70%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    .modal-header {
      padding: 0 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 58px;
      width: 100%;
      .modal-header__box {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        .modal-x-btn {
          min-width: 56px;
          min-height: 32px;
          display: flex;
          flex-direction: column;
          flex-basis: auto;
          flex-shrink: 0;
          align-self: stretch;
          justify-content: center;
          align-items: flex-start;
          button {
            font-size: 20px;
          }
        }
        .modal-title {
          font-weight: 800;
          display: flex;
          flex-grow: 1;
          align-items: stretch;
        }
        button {
          font-size: 15px;
        }
      }
    }
  }
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

//💬 EditProfileModal
.modal-body {
  .edit-form {
    display: flex;
    flex-direction: column;

    label {
      padding-left: 15px;
    }
    input {
      font-size: 13px;
      font-weight: 500;
      width: 300px;
      margin-bottom: 15px;
      border-radius: 5px;
      cursor: auto;
    }
    input:focus {
      background-color: #ebf5fe;
      transition: 0.3s;
    }
  }
  .profile__user__header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .btn--edit--container {
      position: absolute;
      display: flex;
      flex-direction: row;
      .btn--edit--container--btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        width: 45px;
        height: 45px;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-content: center;
        box-sizing: border-box;
        font-size: 20px;
        color: rgb(255, 255, 255);
        cursor: pointer;
      }
      .btn--edit--container--btn:last-child {
        margin-left: 20px;
      }
    }
  }

  .profile__user__info {
    .userImg-sm {
      width: 200px;
      height: 200px;
      background-color: black;
    }
    .profile__user__userImg {
      position: relative;
      height: 30px;
      .img--edit--container {
        display: flex;
        justify-content: center;
        align-items: center;
        top: -72px;
      }
      .userImg--sm {
        position: relative;
        width: 120px;
        height: 120px;
        border: 4px solid rgb(255, 255, 255);
        border-radius: 50%;
        background-color: rgb(199, 199, 199);
      }
      .profile__user__userImg__file__preview {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        object-fit: cover;
      }
      .profile-photo__default {
        margin-left: 16px;
        width: 55%;
        height: 55%;
        color: rgb(255, 255, 255);
      }

      .img--edit--container--btn {
        top: 34px;
        left: 34px;
        position: absolute;
        display: flex;
        align-items: center;
        border-radius: 50px;
        width: 45px;
        height: 45px;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-content: center;
        box-sizing: border-box;
        font-size: 20px;
        cursor: pointer;
        .img--edit--container--btn--icon {
          color: rgb(255, 255, 255);
        }
      }
    }
  }
  .modal-edit {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}

//💬 Write Box Modal

.btn--blue--circle {
  color: $color-main;
  font-weight: 800;
}
.btn--blue--circle:hover,
.btn--blue--circle:focus {
  color: #188cd8;
  transition: 0.3s;
}

//🌟 프로필 포토 컴포넌트
.profile-photo {
  position: relative;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background-color: rgb(199, 199, 199);
  display: flex;
  align-items: center;
  justify-content: center;
  .profile-photo__img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    background-color: rgb(255, 255, 255);
  }
  .profile-photo__default {
    width: 55%;
    height: 55%;
    color: rgb(255, 255, 255);
  }
}

//🌟 헤더 포토 컴포넌트
.header-photo {
  position: relative;
  width: inherit;
  height: inherit;
  background-color: rgb(255, 255, 255);
  .header-photo__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgb(255, 255, 255);
  }
  .header-photo__default {
    width: 100%;
    height: 100%;
    background-color: rgb(225, 225, 225);
  }
}

//
.side__container {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  align-items: stretch;
  box-sizing: border-box;
  width: 350px;
  margin-right: 10px;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 64px;
  margin-left: 20px;
  .side-box {
    margin-bottom: 16px;
    background-color: rgb(247, 249, 249);
    overflow: hidden;
    border: 1px solid rgb(247, 249, 249);
    border-radius: 16px;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
    h2 {
      padding: 12px 16px;
      font-size: 20px;
      overflow-wrap: break-word;
    }
  }
  .side__search__container {
    z-index: 2;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 12px;
    width: 350px;
    min-height: 32px;
    height: 53px;
    display: flex;
    align-items: center;
    flex-direction: row;
    pointer-events: auto;
    flex-grow: 1;
    .side__search__container__search {
      color: rgb(83, 100, 113);
      width: 100%;
      max-width: 100%;
      height: 40px;
      cursor: default;
      pointer-events: auto;
      .side__search__container__search__form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .side__search__container__search__form__div {
          width: 100%;
          border-radius: 25px;
          border: 1px solid rgba(0, 0, 0, 0);
          background-color: #eff3f4;
          transition: all;
          &:focus-within {
            border: 1px solid $color-main;
            background-color: rgb(255, 255, 255);
            button {
              color: $color-main;
            }
          }
        }
        .side__search__container__search__form__btn {
          padding-left: 12px;
          min-width: 32px;
        }
        .side__search__container__search__form__input {
          flex-grow: 1;
          padding: 12px;
          cursor: text;
          width: 88%;
        }
      }
      .side__search__container__search__modal {
        position: relative;
      }
    }
  }
  .side__search-box {
    height: 53px;
  }
  .side__trends {
  }
  .side_recommendation {
  }
}

//
//💬 Modal Search Component
.modal-search-layout {
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  opacity: 0;
  transition: all;
  pointer-events: none;
  .modal-search-layout-inside {
    top: 51px;
    left: 62.3%;
    position: fixed;
    //display: flex;
    .modal-search {
      position: absolute;
      top: 0;
      left: 0;
      .modal-search-content {
        width: 345px;
        padding: 12px 0;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
        font-size: 15px;
        .modal-search-content__default {
          padding: 0 40px;
          white-space: pre-wrap;
          overflow-wrap: break-word;
        }
      }
    }
  }
}
.modal-search-layout.show {
  opacity: 1;
  pointer-events: visible;
}

//

.recommendation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid $color-border;

  .recommendation__userImg {
    width: 48px;
    height: 48px;
  }
  .recommendation__userInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 12px;
    .recommendation__userInfo__userName {
      font-weight: 800;
    }
    .recommendation__userInfo__userId {
      color: $color-id;
    }
  }
  .recommendation__btn {
    color: $color-main;
  }
}
.no-recommendation {
  padding: 15px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.hover--bg--light {
  transition: 0.3s background-color ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #f6f9f9;
  }
}

.hover--bg--deep {
  transition: 0.3s background-color ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #eef1f1;
  }
}

.searchUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid $color-border;

  .searchUser__userImg {
    width: 56px;
    height: 56px;
  }
  .searchUser__userInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 12px;
    .searchUser__userInfo__userName {
      font-weight: 800;
    }
    .searchUser__userInfo__userId {
      color: $color-id;
    }
    .searchUser__userInfo__userBio {
      color: $color-id;
      font-size: 13px;
      width: inherit;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}

//Follow List
.followList {
  height: 100vh;
  display: flex;
  .follow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
    min-height: 80px;
    max-height: 108px;
    max-width: 600px;
    min-width: 598px;
    box-sizing: border-box;
    .follow__userImg {
      width: 48px;
      height: 48px;
      margin-right: 12px;
    }
    .follow__userInfo {
      font-size: 15px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      .follow__userInfo__userName {
        font-weight: 800;
      }
      .follow__userInfo__userId {
        color: $color-id;
      }
      .follow__userInfo__userBio {
      }
    }
  }

  .follow--nothing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    max-width: 600px;
    min-width: 598px;
    color: $color-main;
    .follow--nothing__info {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      color: $color-text;
      .follow--nothing__info__userName {
        color: $color-main;
      }
    }
  }
}
